body{
    background-image: url(../image/ca2bc3bff5894d4f7e783eb64c8013b3.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

@font-face {
    font-family: "police-dbz";
    src: url("../font/DragonballZ/Saiyan-Sans\ Right\ Oblique.ttf");
}

.DragonBall{

    text-align: center;

    img{
    width: 20%;
    margin-top: 100px;
    }
}


.text{
    text-align: center;

    h1{
        font-family: "police-dbz";
        font-size: 50px;
        
        color: rgb(224, 6, 6);
        span{
            color: red;
            
        }
    }

    button{
        width: 20%;
        background: linear-gradient(to right, rgb(255, 0, 0), rgb(245, 217, 6));
    }
}
.tour-un{
    display: flex;
    margin-top: 120px;
    margin-left: 70px;


    img{
        width: 50%;
        
    }
}

.combat-un{
    display: flex;

    

    combattant-un{
        border: solid;
    }
}

.combat-deux{
    display: flex;

    
}

.combat-trois{
    display: flex;

    
} 




@keyframes fight {
    0% { opacity: 1; transform: translateX(0); }
    50% { opacity: 0; transform: translateX(-10px); }
    100% { opacity: 1; transform: translateX(0); }
}

.animate-fight {
    animation: fight 0.2s ease-in-out infinite;
}

